<?xml version="1.0"?>
<!-- TurtleBot3 Manipulation -->
<robot name="turtlebot3_manipulation" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="gazebo" default="True"/>
  <xacro:arg name="offroad_turtlebot" default="False"/>
  <xacro:arg name="scale_factor" default="1.0"/>
  <xacro:property name="sf" value="$(arg scale_factor)"/>

  <!--  TURTLEBOT3 WAFFLE PI  -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/urdf/turtlebot3_pi_base.xacro"/>

  <!--  TURTLEBOT3 WAFFLE PI Sensors (for whatever reason, IMU needs to be declared at end of file to prevent
  gazebo from crashing  -->
  <xacro:include filename="$(find turtlebot3_manipulation_gazebo)/urdf/turtlebot3_pi_gazebo.xacro"/>

</robot>
